.container {
    vertical-align: middle;
}

.bg {
    /* The image used */
    background-image: url('../Images/Travel-background1-1400x800.jpg');
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
