USE [master]
GO
/****** Object:  Database [TravelApplication]    Script Date: 24/10/2019 12:08:23 AM ******/
CREATE DATABASE [TravelApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TravelApplication.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TravelApplication_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelApplication]
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 24/10/2019 12:08:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant](
	[Name] [varchar](50) NOT NULL,
	[Contact] [varchar](50) NOT NULL,
	[Email] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Applicant] PRIMARY KEY CLUSTERED 
(
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 24/10/2019 12:08:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[UEN] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 24/10/2019 12:08:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [varchar](50) NOT NULL,
	[NRIC] [varchar](20) NULL,
	[PassportNum] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PassportNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 24/10/2019 12:08:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyUEN] [varchar](10) NOT NULL,
	[ApplicantContact] [varchar](50) NOT NULL,
	[EmployeePassport] [varchar](50) NOT NULL,
	[CountryOrigin] [varchar](max) NOT NULL,
	[CountryDest] [varchar](max) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Applicant] ([Name], [Contact], [Email]) VALUES (N'ABC', N'', N'E34567890A')
INSERT [dbo].[Applicant] ([Name], [Contact], [Email]) VALUES (N'XYZ', N'65812345678', N'abc@example.com')
INSERT [dbo].[Applicant] ([Name], [Contact], [Email]) VALUES (N'testing abc', N'901234567', N'abc@example')
INSERT [dbo].[Company] ([Name], [Address], [UEN]) VALUES (N'Company A', N'Address of Company A', N'T01LL0001A')
INSERT [dbo].[Company] ([Name], [Address], [UEN]) VALUES (N'Company B', N'Address of Company B', N'T02LL0001B')
INSERT [dbo].[Company] ([Name], [Address], [UEN]) VALUES (N'Company C', N'Address of Company C', N'T03LL0001C')
INSERT [dbo].[Employee] ([Name], [NRIC], [PassportNum]) VALUES (N'John', NULL, N'E1234567A')
INSERT [dbo].[Employee] ([Name], [NRIC], [PassportNum]) VALUES (N'Jim', N'S1234567D', N'E1234568B')
INSERT [dbo].[Employee] ([Name], [NRIC], [PassportNum]) VALUES (N'ABC', N'', N'E34567890A')
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([RequestID], [CompanyUEN], [ApplicantContact], [EmployeePassport], [CountryOrigin], [CountryDest], [FromDate], [ToDate]) VALUES (1, N'T1234567', N'81242314124', N'E1242141235A', N'Testing origin a', N'testing dest b', CAST(N'2019-10-08' AS Date), CAST(N'2019-10-15' AS Date))
INSERT [dbo].[Request] ([RequestID], [CompanyUEN], [ApplicantContact], [EmployeePassport], [CountryOrigin], [CountryDest], [FromDate], [ToDate]) VALUES (2, N'T1234567', N'81242314124', N'E1242141235A', N'Testing origin a', N'testing dest b', CAST(N'2019-10-08' AS Date), CAST(N'2019-10-15' AS Date))
INSERT [dbo].[Request] ([RequestID], [CompanyUEN], [ApplicantContact], [EmployeePassport], [CountryOrigin], [CountryDest], [FromDate], [ToDate]) VALUES (3, N'T1234567', N'81242314126', N'E124214129B', N'Testing origin ab', N'testing dest bc', CAST(N'2019-10-09' AS Date), CAST(N'2019-10-12' AS Date))
SET IDENTITY_INSERT [dbo].[Request] OFF
USE [master]
GO
